<header>

  <div class="header__info-bar">
    <div class="logo-container">
      <a href="{{ path('site_homepage') }}">
        <svg id="logo-svg" width="128" height="98" viewBox="0 15 128 98" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M111.45 25.855c1.04-.52 1.678-1.406 1.92-2.66.245-1.218.033-2.517-.638-3.89-.732-1.375-1.678-2.352-2.836-2.93-1.156-.58-2.285-.656-3.382-.23-1.036.55-1.675 1.435-1.922 2.654-.242 1.252-.028 2.565.644 3.94.728 1.344 1.675 2.32 2.832 2.93 1.157.582 2.285.643 3.382.185M87.04 57.177c0-.336-.168-.55-.505-.64-2.863-.49-5.635-.855-8.317-1.102-2.62-.243-5.197-.365-7.725-.365-7.896 0-15.286 1.145-22.17 3.435-6.89 2.29-13.183 5.664-18.884 10.12l-3.383 43.277h.23v-.047c2.438-10.808 6.474-20.18 12.113-28.117 5.64-7.94 12.557-14.15 20.753-18.64 8.17-4.457 17.265-6.897 27.294-7.327.335-.027.532-.228.592-.593M127.04 81.813c.092.154.14.308.14.458h.04l-7.906-52.11c-.182-1.07-.685-1.88-1.506-2.43-.794-.52-1.726-.655-2.79-.412L90.836 33.64c-1.04.272-1.54.5-1.51.687.03.182.578.272 1.645.272h11.523c1.096.03 2.057.414 2.878 1.143.822.705 1.313 1.603 1.466 2.705l3.43 29.81c5.755 3.238 11.35 7.756 16.773 13.555" fill="#6799C8"/><path d="M14.63 38.72c1.095-.304 1.98-.916 2.648-1.832.672-.916 1.083-2.028 1.236-3.34.154-1.282.015-2.642-.41-4.076-.49-1.406-1.175-2.612-2.057-3.617-.915-1.04-1.922-1.77-3.018-2.2-1.13-.46-2.24-.534-3.337-.23-1.1.308-1.982.916-2.654 1.832-.7.916-1.13 2.014-1.28 3.3-.153 1.28 0 2.64.458 4.074.486 1.435 1.17 2.655 2.057 3.664.914 1.01 1.917 1.74 3.018 2.197 1.125.43 2.24.506 3.336.23M120.592 81.86c-5.424-5.8-11-10.336-16.727-13.603-7.254-4.12-14.676-6.182-22.265-6.182-3.564.033-6.89.43-9.964 1.19-3.05.795-5.822 1.758-8.322 2.89-2.467 1.158-4.586 2.317-6.353 3.476-1.767 1.132-3.124 2.095-4.067 2.89-.975.793-1.48 1.22-1.51 1.28-.215.243-.243.504-.09.78.243.275.518.35.82.228 7.04-3.635 14.004-5.448 20.895-5.448 3.624.028 6.96.47 10.01 1.327 3.046.854 5.76 1.92 8.135 3.206 2.408 1.28 4.45 2.565 6.125 3.845 1.647 1.28 2.91 2.365 3.797 3.253.882.855 1.34 1.313 1.372 1.374.088.122.12.168.088.136.154.032.747.06 1.787.093 1.035.03 2.286.06 3.746.09l6.903.093c1.466.032 2.684.06 3.66.093h1.505c.276 0 .457-.126.55-.37.033-.06.047-.122.047-.182.03-.183-.014-.336-.14-.458M24.96 56.215c.15-1.467.7-2.902 1.648-4.304.974-1.405 2.117-2.443 3.428-3.115l18.01-8.79c1.28-.612 1.876-1.07 1.783-1.374-.095-.307-.84-.382-2.24-.228l-36.255 4.486c-1.46.215-2.71.87-3.746 1.97-1.068 1.068-1.694 2.334-1.876 3.8L.322 112.22h20.203l.046-.318 3.383-43.276 1.008-12.41" fill="#004B91"/></g></svg>
        <span class="logo-font">Bridges Transition Academy</span>
      </a>
    </div>

    <div class="info-container">
      <div class="contact">
        <div class="contact__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.731 29.731"><path d="M23.895 29.73c-1.237 0-2.73-.31-4.374-.93-3.6-1.357-7.52-4.04-11.034-7.555C4.97 17.73 2.286 13.81.928 10.208-.307 6.933-.31 4.245.92 3.015c.178-.177.358-.367.544-.563 1.123-1.18 2.392-2.51 4.074-2.45C6.698.05 7.82.77 8.97 2.202c3.398 4.225 1.866 5.73.093 7.477l-.313.31c-.29.29-.838 1.632 4.26 6.73 1.664 1.664 3.083 2.882 4.217 3.62.714.463 1.99 1.165 2.515.64l.315-.317c1.744-1.77 3.25-3.296 7.473.1 1.43 1.15 2.15 2.27 2.198 3.432.07 1.68-1.27 2.953-2.452 4.075-.195.186-.385.366-.562.542-.61.612-1.588.92-2.82.92zM5.418 1c-1.195 0-2.274 1.136-3.23 2.14-.19.203-.377.4-.56.582-.917.916-.824 3.323.236 6.134 1.31 3.472 3.913 7.266 7.33 10.683 3.416 3.414 7.208 6.017 10.68 7.326 2.812 1.062 5.22 1.152 6.134.237.183-.183.38-.37.58-.56 1.028-.976 2.193-2.082 2.142-3.31-.035-.842-.65-1.75-1.825-2.694-3.52-2.83-4.503-1.832-6.135-.177l-.32.323c-.78.78-2.047.608-3.767-.51-1.193-.776-2.667-2.038-4.38-3.75-4.23-4.23-5.583-6.82-4.26-8.147l.32-.316c1.66-1.632 2.66-2.617-.17-6.138C7.244 1.65 6.338 1.036 5.495 1h-.078z"/></svg>
        </div>
        <div class="contact__info">
          <a href="tel:5862428011">586 242 8011</a>
          <a href="mailto: djoneshoffman@yahoo.com">djoneshoffman@yahoo.com</a>
        </div>
      </div>

      <div class="contact">
        <div class="contact__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.582 491.582"><path d="M245.79 0C153.8 0 78.958 74.84 78.958 166.833c0 36.967 21.764 93.187 68.493 176.926 31.887 57.137 63.627 105.4 64.966 107.432l22.94 34.773c2.314 3.507 6.233 5.617 10.435 5.617s8.122-2.11 10.435-5.617l22.94-34.77c1.326-2.01 32.835-49.856 64.967-107.436 46.73-83.736 68.493-139.956 68.493-176.927C412.625 74.84 337.783 0 245.79 0zm76.512 331.576c-31.685 56.775-62.696 103.87-64.003 105.848l-12.51 18.96-12.503-18.955c-1.314-1.996-32.563-49.512-64.007-105.854-43.345-77.676-65.323-133.104-65.323-164.743C103.957 88.626 167.583 25 245.79 25s141.835 63.626 141.835 141.833c0 31.643-21.978 87.07-65.323 164.743z"/><path d="M245.79 73.29c-51.004 0-92.5 41.497-92.5 92.5s41.496 92.5 92.5 92.5 92.5-41.495 92.5-92.5-41.494-92.5-92.5-92.5zm0 160c-37.22 0-67.5-30.28-67.5-67.5s30.28-67.5 67.5-67.5c37.222 0 67.5 30.28 67.5 67.5s-30.278 67.5-67.5 67.5z"/></svg>
        </div>
        <div class="contact__info">
          <span>8361 Broadbridge Rd.</span>
          <span>Fair Haven, MI 48023</span>
        </div>
      </div>

      <div class="donation-button">
        <button>Donate Now</button>
      </div>
    </div>

  </div>


  <nav class="header__navigation desktop">
    <ul>
      <li><a href="{{ path('site_homepage') }}">Home</a></li>
      <li><a href="{{ path('detail_page') }}">About us</a></li>
    </ul>
  </nav>

  <div class="hamburger-container">
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  
  <nav class="mobile hidden">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

</header>