
{% extends 'SiteBundle:Default:base.html.twig' %}

{% block body %}

  <main id="barba-wrapper">
    <div class="main__inner barba-container">
      <h1>Detail Page</h1>


      <p>
        Butz
      </p>
    </div>
  </main>


{% endblock %}
