
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}



<main id="barba-wrapper">
  <div class="main__inner barba-container">

    <div class="intro">
      <div class="intro__carousel">
        <div class="slide" style="background-image: url('{{ asset('bundles/site/images/academy_1.jpg') }}');">
          <div class="slide__content">
            <h2>Bridges Transition Academy</h2>
          </div>
        </div>
        <div class="slide" style="background-image: url('{{ asset('bundles/site/images/academy_2.jpg') }}');"></div>
        <div class="slide" style="background-image: url('{{ asset('bundles/site/images/academy_3.jpg') }}');"></div>
      </div>

    </div>


    <section class="about">

      <div class="about__inner">
        <h1>Bridges Transition Academy</h1>

        <p>
          Bridges Transition Academy is a transition school to help students, ages 18-26, with a cognitive impairment, developmental disability or autism spectrum disorder with employment, social skills and life skills.
        </p>
        <p>
          Bridges Transition Academy will have various classrooms with real-life experiences to help with soft skills and transitioning into competitive and creative employment as well as learning real life situations to help with independent living.  We have the following classrooms: small engine repair, custodial, wood working/production, fitness center, convenience store, coffee/tea house, salon, technology, horticulture, commercial laundry, and an apartment.
        </p>
        <p>
          Monetary donations – (pay pal, credit card) you can also send a check/money order to Bridges Transition Academy (we are getting a P.O. box until we take residence in the school- I will send you that info. once I receive it).
        </p>
        <p>
          Building materials and construction donations – please contact Teri Greene at 586-885-2834 or e-mail at tgreene@all-ways-care.com
        </p>

      </div>

    </section>




  </div>
</main>

{% endblock %}
